body {
    font-family: -apple-system, BlinkMacSystemFont,"Microsoft JhengHei","Segoe UI","Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 15px;
}

h1,h2,h3,h4{
    letter-spacing: 1px;
    color: #3f3f3f;
}

p{
    line-height: 1.8rem;
	letter-spacing: 2px;
	color: #999999;
}
ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section{
	padding: 3rem 0;
}

.thumbnail {
    position: relative;
    overflow: hidden;
}

.btn-primary{
    padding: 15px 40px;
    background-color: #ffffff;
    color: #3f3f3f;
    border: 1px #262626 solid;
    border-radius: 0px;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
.btn-primary:hover{
    border: 1px #262626 solid;
    background-color: #3f3f3f;
    color: #fff;
}

.navbar{
    padding: 20px 0;
}
.banner{
    margin-top: 80px;
}
.jumbotron{
    background-image: url('https://picsum.photos/1070/489');
    background-position: center;
    background-size: cover;
}
.welcome-text{
    color: rgb(195, 101, 34);
    font-size: 18px;
    font-family: "Lora";
}
h1{
    margin-bottom: 15px;
    font-size: 56px;
    line-height: 1.1;
    font-family: "Lato";
    font-weight: 700;

}
.section-title{
    margin-bottom: 2rem;
    font-size: 28px;
    text-align: center;
}

.feature {
    margin-bottom: 1rem;
}
.feature h5{
   margin-top: 2rem; 
}
.feature img{
    height: 180px;
    object-fit: contain;
}

.album ul > li{
    list-style-type: none;
    margin-bottom: 1rem;
}